@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Языки программирования</title>
</head>
<body>
<h1>Пример кода на @ViewBag.lang</h1>
<pre>
  @ViewBag.example
</pre>
</body>

</html>


