@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Языки программирования</title>
</head>
<body>

<h1>Список языков (нажмите для справки)</h1>
<ul>
    <li><a href="/Programming/Info/CSharp">CSharp</a></li>
    <li><a href="/Programming/Info/Java/red">Java</a></li>
    <li><a href="/Programming/Info/Pascal/blue">Pascal</a></li>
</ul>

</body>

</html>
