@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Языки программирования</title>
</head>
<body>

    <h1 style="color:@ViewBag.color">Информация о языке @ViewBag.lang</h1>
<p>
    @ViewBag.info
</p>
<p>
        <a href="/Programming/Example/@ViewBag.lang">Пример кода на @ViewBag.lang</a>
</p>

</body>

</html>






